<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>
<div class="container">
  <div>Username</div>
  <input type="text" placeholder="username" [(ngModel)]="model.username" />
  <div>Password</div>
  <input type="password" placeholder="password" [(ngModel)]="model.password" />
  <div class="login">
    <input class="btn" type="button" value="Login" (click)="login()"/>
  </div>
  <div class="container">
    <pre><code>{{ parseJwtInfo() | async }}</code></pre>
  </div>
</div>
